/* Favorites.css */

.favorites-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 32px;
  }
  
  .favorites {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
  }
  